name: deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/setup-node@v6
        with:
          node-version-file: './ui/package.json'
          cache: 'npm'
          cache-dependency-path: './ui/package-lock.json'
      - run: curl https://drager.github.io/wasm-pack/installer/init.sh -sSf | sh
      - run: just build
